node_modules/
.next/
out/
build/
.DS_Store
*.pem

.env
.env.local
.env*.local

npm-debug.log*
yarn-error.log*
.pnpm-debug.log*

next-env.d.ts
tsconfig.tsbuildinfo

.vercel
supabase/.branches
supabase/.temp
dev.log
